<h1><%= title %></h1>
<script>
  if(document.cookie){
    window.location.href = "/homepage";
    //console.log('true');
  }
  else{
    window.location.href = "/login";
    //console.log('false');
  }

  function deleteAllCookies() {
    var cookies = document.cookie.split(";");
    for (var i = 0; i < cookies.length; i++) {
      var cookie = cookies[i];
      var eqPos = cookie.indexOf("=");
      var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
      document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
    }
  }
  

</script>