<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

<!-- Custom CSS -->
<link href="/javascripts/extra-libs/c3/c3.min.css" rel="stylesheet">
<link href="/javascripts/libs/chartist/dist/chartist.min.css" rel="stylesheet">
<link href="/javascripts/extra-libs/jvector/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
<link href="/css/style.min.css" rel="stylesheet">

<script src="/javascripts/extra-libs/c3/c3.min.js"></script>
<script src="/javascripts/libs/chartist/dist/chartist.min.js"></script>

<!--<script src="/javascripts/libs/jquery/dist/jquery.min.js"></script>-->
<!-- Bootstrap tether Core JavaScript -->
<script src="/javascripts/libs/popper.js/dist/umd/popper.min.js"></script>
<!-- apps -->
<!-- apps -->
<script src="/javascripts/dist/js/app-style-switcher.js"></script>
<script src="/javascripts/dist/js/feather.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/javascripts/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="/javascripts/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<!-- themejs -->
<!--Menu sidebar -->
<script src="/javascripts/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/javascripts/dist/js/custom.min.js"></script>

<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar" data-navbarbg="skin6">
    <nav class="navbar top-navbar navbar-expand-md">
        <div class="navbar-header" data-logobg="skin6">
            <!-- This is for the sidebar toggle which is visible on mobile only -->
            <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                    class="ti-menu ti-close"></i></a>
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <div class="navbar-brand">
                <!-- Logo icon -->
                <a href="/homepage">
                    <b class="logo-icon">
                        <!-- Dark Logo icon -->
                        <img src="/images/logo-icon.png" alt="homepage" class="dark-logo" />
                        <!-- Light Logo icon -->
                        <img src="/images/logo-icon.png" alt="homepage" class="light-logo" />
                    </b>
                    <!--End Logo icon -->
                    <!-- Logo text -->
                    <span class="logo-text">
                        <!-- dark Logo text -->
                        <img src="/images/logo-text.png" alt="homepage" class="dark-logo" />
                        <!-- Light Logo text -->
                        <img src="/images/logo-light-text.png" class="light-logo" alt="homepage" />
                    </span>
                </a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Toggle which is visible on mobile only -->
            <!-- ============================================================== -->
            <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav float-left mr-auto ml-3 pl-1">
                <!-- put something here -->
            </ul>
            <!-- ============================================================== -->
            <!-- Right side toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav float-right">
                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->
                <li class="nav-item d-none d-md-block">
                    <a class="nav-link" href="javascript:void(0)">
                        <form>
                            <div class="customize-input">
                                <input class="form-control custom-shadow custom-radius border-0 bg-white" type="search"
                                    placeholder="Search" aria-label="Search">
                                <i class="form-control-icon" data-feather="search"></i>
                            </div>
                        </form>
                    </a>
                </li>
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="/images/users/profile-pic.jpg" alt="user" class="rounded-circle" width="40">
                        <span class="ml-2 d-none d-lg-inline-block"> <span class="text-dark">User

                        </span> <i data-feather="chevron-down" class="svg-icon"></i></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                        <a class="dropdown-item" href="/profile"><i data-feather="user"
                                class="svg-icon mr-2 ml-1"></i>
                            My Profile</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i data-feather="credit-card"
                                class="svg-icon mr-2 ml-1"></i>
                            My Balance</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i data-feather="mail"
                                class="svg-icon mr-2 ml-1"></i>
                            Inbox</a>
                        
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0)"><i data-feather="power"
                                class="svg-icon mr-2 ml-1"></i>
                            Logout</a>
                        <div class="dropdown-divider"></div>
                        <div class="pl-4 p-3"><a href="javascript:void(0)" class="btn btn-sm btn-info">View
                                Profile</a></div>
                    </div>
                </li>
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
            </ul>
        </div>
    </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="/" aria-expanded="false"><i
                            data-feather="home" class="feather-icon"></i><span class="hide-menu">Dashboard</span></a>
                </li>
                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Applications</span></li>
                <li class="sidebar-item"> <a class="sidebar-link" href="/purchase" aria-expanded="false"><i
                    data-feather="tag" class="feather-icon"></i><span class="hide-menu">Purchase採購
                </span></a>
        </li>
                <li class="sidebar-item"> <a class="sidebar-link" href="/order" aria-expanded="false"><i
                            data-feather="tag" class="feather-icon"></i><span class="hide-menu">Order訂單
                        </span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="/vendor" aria-expanded="false"><i
                            data-feather="message-square" class="feather-icon"></i><span
                            class="hide-menu">Vendor廠商</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="/product" aria-expanded="false"><i
                            data-feather="calendar" class="feather-icon"></i><span
                            class="hide-menu">Product產品</span></a></li>


                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Extra</span></li>
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="/profile" aria-expanded="false"><i
                            data-feather="user" class="feather-icon"></i><span class="hide-menu">Profile</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" value="登出" data-toggle="modal"
                        data-target="#logoutModal" aria-expanded="false"><i data-feather="log-out"
                            class="feather-icon"></i><span class="hide-menu">Logout</span></a></li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a id=getCook class="navbar-brand" href="#"></a>
    <input id="logout" type="button" style="visibility:hidden" value="登出" onclick="Logout()">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<!--彈出-->
<div class="modal" tabindex="-1" role="dialog" id="logoutModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Logout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>確定要登出嗎?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Logout()">Sure</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    function Logout() {
        var path = "/nav/logout";
        var sJson = getCookie('sID')
        //console.log(document.cookie)
        console.log(sJson)
        $.ajax({
            url: path,
            data: sJson,
            type: "POST",
            dataType: 'json',
            success: function (msg) {
                console.log(msg);
                //$("#resData2").text(msg.data.SessionID);
                console.log(msg.code)
                if (msg.code === 2000) {
                    //document.cookie = "SessionID="+msg.data.SessionID;
                    deleteAllCookies()
                    window.location.href = "/";
                } else {
                    //$("#resData2").text(msg.data.SessionID);
                    //window.location.href = "/users";
                    console.log(msg)
                }
            },
            err: function (msg) {
                console.log("err");
                //$("#resData2").text(msg.resData);
            }
        });
    }

    if (document.cookie) {
        let cookie = document.cookie.split(';')
        //document.getElementById('getCook').innerHTML = cookie[1] + " 您好";
        document.getElementById('logout').style.visibility = "visible";
        //console.log('true');
        var path = "http://127.0.0.1:3000/nav/getName";
        let s_ID = cookie[0].split('=')
        let u_ID = cookie[1].split('=')
        var sJson = getCookie('uID')
        console.log(sJson)
        $.ajax({
            url: path,
            data: sJson,
            type: "POST",
            dataType: 'json',
            success: function (msg) {
                console.log(msg);
                //$("#resData2").text(msg.msg);
                if (msg.code == 2001) {
                    document.getElementById('getCook').innerHTML = msg.data.username + " 您好";
                } else {
                    document.getElementById('getCook').innerHTML = " 您好";
                }
            },
            err: function (msg) {
                console.log("err");
                $("#resData2").text(msg.resData);
            }
        });
    } else {
        document.getElementById('getCook').innerHTML = '請先登入';
        //console.log('false');
    }

    function deleteAllCookies() {
        var cookies = document.cookie.split(";");
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i];
            var eqPos = cookie.indexOf("=");
            var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
        }
    }

    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
</script>