<!DOCTYPE html>
<html>

<head>
    <title></title>

</head>

<body style="padding: 0cm;">

    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <%- include ../parts/nav.ejs %>

        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-7 align-self-center">
                        <h2 class="page-title text-truncate text-dark font-weight-medium mb-1"><%= title %></h2>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item"><a href="/homepage" class="text-muted">Home</a></li>
                                    <li class="breadcrumb-item text-muted active" aria-current="page">Order</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="col-5 align-self-center">
                        
                    </div>
                    
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">


                <br>
                <!-- multi-column ordering -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Order　<button id="insert" class="btn btn-outline-primary" data-toggle="modal"
                                    data-target="#myModal">新增訂單</button></h4>

                                <div class="table-responsive">
                                    <table id="multi_col_order"
                                        class="table table-striped table-bordered display no-wrap " style="width:100%">
                                        <thead class="bg-danger text-white">
                                            <tr>
                                                <th>orderID</th>
                                                <th>顧客</th>
                                                <th>產品</th>
                                                <th>價格</th>
                                                <th>數量</th>
                                                <th>折扣(%off)</th>
                                                <th>總計</th>
                                                <th>交易時間</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="order_table">


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div id="account"></div>
                <div id="words"></div>
                <div id="sID"></div>
                <div id="resData2"></div>

                <!--   新增彈出視窗  -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title" id="myModalLabel">
                                    新增訂單
                                </h2>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                            </div>
                            <div class="modal-body">
                                uName:<input id="newUName"><br>
                                商品:<select id="newPID"></select><br>
                                價格:<input id=newPrice type="text"
                                    onkeyup="newCalculate('newPrice','newAmount','newDiscount','newTotal')"><br>
                                數量:<input id=newAmount type="text"
                                    onkeyup="newCalculate('newPrice','newAmount','newDiscount','newTotal')"><br>
                                折扣:<input id="newDiscount" type="text"
                                    onkeyup="newCalculate('newPrice','newAmount','newDiscount','newTotal')"><br>
                                總計:<input id=newTotal type="text" readonly><br>
                                交易日:<input id="newTime" type="date">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉
                                </button>
                                <button type="button" id="new" class="btn btn-primary" onclick="newCreate()">
                                    新增
                                </button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>

                <!--   修改彈出視窗  -->
                <div class="modal fade" id="reviseModal"" tabindex=" -1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title" id="myModalLabel">
                                    修改訂單
                                </h2>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="reOID"></div>
                                uName:<input id="reUName"><br>
                                pID:<select id="rePID"></select><br>
                                價格:<input id=rePrice type="text"
                                    onkeyup="newCalculate('rePrice','reAmount','reDiscount','reTotal')"><br>
                                數量:<input id=reAmount type="text"
                                    onkeyup="newCalculate('rePrice','reAmount','reDiscount','reTotal')"><br>
                                折扣:<input id="reDiscount" type="text"
                                    onkeyup="newCalculate('rePrice','reAmount','reDiscount','reTotal')"><br>
                                總計:<input id=reTotal type="text" readonly><br>
                                交易日:<input id="reTime" type="date">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉
                                </button>
                                <button type="button" id="new" class="btn btn-primary" onclick="edit()">
                                    修改
                                </button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
</body>

</html>
<script>
    if (document.cookie) {
        let cookie = document.cookie.split('=')
        //document.getElementById('getCook').innerHTML = cookie[1] + " 您好";
        document.getElementById('logout').style.visibility = "visible";
        var path = "/order";
        var sJson = {
            "sID": cookie[1]
        }
        //console.log(sJson)
        $.ajax({
            url: path,
            data: sJson,
            type: "POST",
            dataType: 'json',
            success: function (msg) {
                console.log(msg);
                //$("#resData2").text(msg.msg);
                if (msg.code == 2001) {
                    $('#multi_col_order').DataTable({
                        ajax: {
                            url: "/order",
                            type: 'POST'
                        },
                        columns: [{
                                data: function (row) {
                                    return "<tr id=" + row.oID + "><td>" + row.oID +
                                        "</td>"
                                }
                            },
                            {
                                data: "uName"

                            },
                            {
                                data: "pID"

                            },
                            {
                                data: "price"
                            },
                            {
                                data: "amount"
                            },
                            {
                                data: "discount"
                            },
                            {
                                data: "total"
                            },
                            {
                                data: function (row) {
                                    x = row.tradeYear + "-" + row.tradeMonth + "-" + row
                                        .tradeDay;
                                    return x;
                                }
                            },
                            {
                                data: function () {
                                    return "<button type=button id=edit data-toggle=modal data-target=#reviseModal class='btn waves-effect waves-light btn-rounded btn-outline-warning editSelect'>Edit</button>";
                                }
                            },
                            {
                                data: function () {
                                    return "<button type=button class='btn waves-effect waves-light btn-rounded btn-outline-danger delSelect'>Delete</button>";
                                }
                            }
                        ]
                    });
                    //document.getElementById('getCook').innerHTML = msg.data.username + " 您好";
                    let orderInfo =
                        "<tr><td>orderID</td><td>venderID</td><td>userID</td><td>price</td><td>amount</td><td>discount(%off)</td>" +
                        "<td>total</td><td>tradeTime</td><td></td><td></td></tr>"
                    
                    for (let i = 0; i < msg.data.length; i++) {
                        //show table
                        if (msg.data[i].tradeMonth < 10) {
                            msg.data[i].tradeMonth = "0" + msg.data[i].tradeMonth
                        }
                        if (msg.data[i].tradeDay < 10) {
                            msg.data[i].tradeDay = "0" + msg.data[i].tradeDay
                        }
                        let tradeTime = msg.data[i].tradeYear + "-" + msg.data[i].tradeMonth + "-" + msg
                            .data[i].tradeDay
                        orderInfo += "<tr id=" + msg.data[i].oID + "><td>" + msg.data[i].oID +
                            "</td><td contenteditable=true>" + msg.data[i].uName +
                            "</td><td contenteditable=true>" + msg.data[i].pID +
                            "</td><td id='price" + i + "' contenteditable=true onkeyup='calculate(" + i +
                            ")'>" +
                            msg.data[i].price +
                            "</td><td id='amount" + i + "' contenteditable=true onkeyup='calculate(" + i +
                            ")'>" +
                            msg.data[i].amount +
                            "</td><td id='discount" + i + "' contenteditable=true onkeyup='calculate(" + i +
                            ")'>" +
                            msg.data[i].discount + "</td><td id='total" + i + "'>" +
                            msg.data[i].total +
                            "</td><td contenteditable=true><input id=time type='date' value=" + tradeTime +
                            ">" +
                            "</td><td><button id=edit class=editSelect >Edit</button></td><td><button id=del class=delSelect >Delete</button></td></tr>"
                    }
                    let pnameOption
                    for (let i = 0; i < msg.pdata.length; i++) {
                        //create option
                        pnameOption += "<option value='" + msg.pdata[i].pID + "'>" + msg.pdata[i]
                            .pName +
                            "</option>"
                    }
                    
                    document.getElementById('newPID').innerHTML = pnameOption
                    document.getElementById('rePID').innerHTML = pnameOption
                    
                } else {
                    //document.getElementById('getCook').innerHTML = " 您好";
                    $("#resData2").text(msg);
                }
            },
            err: function (msg) {
                console.log("err");
                $("#resData2").text(msg.resData);
            }
        });
    } else {
        document.getElementById('getCook').innerHTML = '請先登入';
        //window.location.href = "/"
    }



    //calculate
    function calculate(i) {
        let id = i
        let price = document.getElementById('price' + i).value
        let amount = document.getElementById('amount' + i).innerHTML
        let discount = document.getElementById('discount' + i).innerHTML
        let total = document.getElementById('total' + i)
        let sum = price * amount * (100 - discount) * 0.01
        total.innerHTML = sum
        console.log(total)

    }

    function newCalculate(a, b, c, d) {
        let sum = document.getElementById(a).value * document.getElementById(b).value * (100 - document.getElementById(
            c).value) * 0.01
        document.getElementById(d).value = sum
    }

    //create
    function newCreate() {
        var path = "/order/create";

        let tradeTime = document.getElementById('newTime').value
        let tradeYear = tradeTime.split('-')[0]
        let tradeMonth = tradeTime.split('-')[1]
        let tradeDay = tradeTime.split('-')[2]

        var createJson = {
            "uName": document.getElementById('newUName').value,
            "pID": document.getElementById('newPID').value,
            "price": document.getElementById('newPrice').value,
            "amount": document.getElementById('newAmount').value,
            "discount": document.getElementById('newDiscount').value,
            "total": document.getElementById('newTotal').value,
            "tradeYear": tradeYear,
            "tradeMonth": tradeMonth,
            "tradeDay": tradeDay,
            "createUser": getCookie('uID')
        }
        console.log(createJson)
        $.ajax({
            url: path,
            data: createJson,
            type: "POST",
            dataType: 'json',
            success: function (msg) {
                console.log(msg);
                //$("#resData2").text(msg.msg);
                if (msg.code == 2001) {
                    alert('create success')
                    window.location.href = "/order"
                } else {
                    //document.getElementById('getCook').innerHTML = " 您好";
                    $("#resData2").text(msg);
                }
            },
            err: function (msg) {
                console.log("err");
                $("#resData2").text(msg.resData);
            }
        });
    }


    //show edit
    $("#multi_col_order").on('click', '.editSelect', function () {
        // get the current row
        let currentRow = $(this).closest("tr");
        let oID = currentRow.find("td:eq(0)").html(); // get current row 1st table cell TD value
        let uName = currentRow.find("td:eq(1)").html();
        let pID = currentRow.find("td:eq(2)").html();
        let price = currentRow.find("td:eq(3)").html();
        let amount = currentRow.find("td:eq(4)").html();
        let discount = currentRow.find("td:eq(5)").html();
        let total = currentRow.find("td:eq(6)").html();
        let tradeTime = currentRow.find("td:eq(7)").html();
        let tradeYear = tradeTime.split('-')[0]
        let tradeMonth = tradeTime.split('-')[1]
        let tradeDay = tradeTime.split('-')[2]
        if (tradeMonth < 10) {
            tradeMonth = "0" + tradeMonth
        }
        if (tradeDay < 10) {
            tradeDay = "0" + tradeDay
        }
        let date = tradeYear + "-" + tradeMonth + "-" + tradeDay

        document.getElementById('reOID').value = oID
        document.getElementById('reUName').value = uName
        document.getElementById('rePID').value = pID
        document.getElementById('rePrice').value = price
        document.getElementById('reAmount').value = amount
        document.getElementById('reDiscount').value = discount
        document.getElementById('reTotal').value = total
        document.getElementById('reTime').value = date

    });

    //edit
    function edit() {
        var path = "/order/edit";

        let tradeTime = document.getElementById('reTime').value
        let tradeYear = tradeTime.split('-')[0]
        let tradeMonth = tradeTime.split('-')[1]
        let tradeDay = tradeTime.split('-')[2]

        var editJson = {
            "oID": document.getElementById('reOID').value,
            "uName": document.getElementById('reUName').value,
            "pID": document.getElementById('rePID').value,
            "price": document.getElementById('rePrice').value,
            "amount": document.getElementById('reAmount').value,
            "discount": document.getElementById('reDiscount').value,
            "total": document.getElementById('reTotal').value,
            "tradeYear": tradeYear,
            "tradeMonth": tradeMonth,
            "tradeDay": tradeDay,
            "createUser": getCookie('uID')
        }
        console.log(editJson)
        $.ajax({
            url: path,
            data: editJson,
            type: "POST",
            dataType: 'json',
            success: function (msg) {
                console.log(msg);
                //$("#resData2").text(msg.msg);
                if (msg.code == 2001) {
                    alert('edit success')
                    window.location.href = "/order"
                } else {
                    //document.getElementById('getCook').innerHTML = " 您好";
                    $("#resData2").text(msg);
                }
            },
            err: function (msg) {
                console.log("err");
                $("#resData2").text(msg.resData);
            }
        });
    }

    //delete
    $("#multi_col_order").on('click', '.delSelect', function () {
        // get the current row
        let currentRow = $(this).closest("tr");

        let oID = currentRow.find("td:eq(0)").html(); // get current row 1st table cell TD value
        let data = oID;
        console.log(data);

        var path = "/order/del";
        var delJson = {
            "oID": oID
        }
        console.log(delJson)
        $.ajax({
            url: path,
            data: delJson,
            type: "POST",
            dataType: 'json',
            success: function (msg) {
                //console.log(msg);
                //$("#resData2").text(msg.msg);
                if (msg.code == 2001) {
                    alert('delete success')
                    window.location.href = "/order"
                } else {
                    //document.getElementById('getCook').innerHTML = " 您好";
                    $("#resData2").text(msg);
                }
            },
            err: function (msg) {
                console.log("err");
                $("#resData2").text(msg.resData);
            }
        });
    });

    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
</script>