<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body style="padding: 0cm;">

    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <%- include ../parts/nav.ejs %>
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-7 align-self-center">
                        <h2 class="page-title text-truncate text-dark font-weight-medium mb-1"><%= title %></h2>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item"><a href="/homepage" class="text-muted">Home</a></li>
                                    <li class="breadcrumb-item text-muted active" aria-current="page">Product</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="col-5 align-self-center">
                        
                    </div>
                </div>
                <div class="container-fluid">
                    <br>
                    
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Products　<button id="insert" class="btn btn-outline-primary" data-toggle="modal"
                                        data-target="#myModal">新增產品</button></h4>

                                    <div class="table-responsive">
                                        <table id="multi_col_order"
                                            class="table table-striped table-bordered display no-wrap "
                                            style="width:100%">
                                            <thead class="bg-danger text-white">
                                                <tr>
                                                    <th>ID</th>
                                                    <th>產品名稱</th>
                                                    <th>平均進貨價</th>
                                                    <th>庫存</th>
                                                    <th>安全庫存</th>
                                                    <th>更新使用者</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody id="product_table">


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div id="resData2"></div>

                    <!--   彈出視窗  -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title" id="myModalLabel">
                                        新增產品
                                    </h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                </div>
                                <div class="modal-body">
                                    產品名稱:<input id="newPName" type="text"><br>
                                    平均進貨價:<input id="newAvePrice" type="text" value="0"><br>
                                    庫存:<input id="newStore" type="text" value="0"><br>
                                    安全庫存:<input id="newSafeStore" type="text" value="0"><br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">關閉
                                    </button>
                                    <button type="button" id="new" class="btn btn-primary" onclick="newCreate()">
                                        新增
                                    </button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                    <!--   修改彈出視窗  -->
                    <div class="modal fade" id="reviseModal"" tabindex=" -1" role="dialog"
                        aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title" id="myModalLabel">
                                        修改產品
                                    </h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                </div>
                                <div class="modal-body">
                                    pID:<input type="text" id="rePID" readonly><br>
                                    產品名稱:<input id="rePName" type="text"><br>
                                    平均進貨價:<input id="reAvePrice" type="text"><br>
                                    庫存:<input type="text" id="reStore"><br>
                                    安全庫存:<input id=reSafeStore type="text"><br>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">關閉
                                    </button>
                                    <button type="button" id="new" class="btn btn-primary" onclick="edit()">
                                        修改
                                    </button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </div>
            </div>
        </div>
        <script src="/javascripts/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
</body>

</html>
<script>
    if (document.cookie) {
        let cookie = document.cookie.split('=')
        //document.getElementById('getCook').innerHTML = cookie[1] + " 您好";
        document.getElementById('logout').style.visibility = "visible";
        //console.log('true');
        var path = "/product";
        var sJson = {
            "sID": cookie[1]
        }
        console.log(sJson)
        $.ajax({
            url: path,
            data: sJson,
            type: "POST",
            dataType: 'json',
            success: function (msg) {
                console.log(msg);
                //$("#resData2").text(msg.msg);
                if (msg.code == 2001) {
                    $('#multi_col_order').DataTable({
                        ajax: {
                            url: "/product",
                            type: 'POST'
                        },
                        columns: [{
                                data: function (row) {
                                    return "<tr id=" + row.pID + "><td>" + row.pID +
                                        "</td>"
                                }
                            },
                            
                            {
                                data: "pName"

                            },
                            
                            {
                                data: "avePrice"

                            },
                            {
                                data: "store"

                            },
                            {
                                data: "safeStore"
                            },
                            {
                                data: "updateUser"
                            },
                            {
                                data: function () {
                                    return "<button type=button id=edit data-toggle=modal data-target=#reviseModal class='btn waves-effect waves-light btn-rounded btn-outline-warning editSelect'>Edit</button>";
                                }
                            },
                            {
                                data: function () {
                                    return "<button type=button class='btn waves-effect waves-light btn-rounded btn-outline-danger delSelect'>Delete</button>";
                                }
                            }
                        ]
                    });
                } else {
                    //document.getElementById('getCook').innerHTML = " 您好";
                    $("#resData2").text(msg);
                }
            },
            err: function (msg) {
                console.log("err");
                $("#resData2").text(msg.resData);
            }
        });
    } else {
        document.getElementById('getCook').innerHTML = '請先登入';
        //window.location.href = "/"
        //console.log('false');
    }
    //create
    function newCreate() {
        var path = "/product/create";

        var createJson = {
            "pName": document.getElementById('newPName').value ,
            "avePrice": document.getElementById('newAvePrice').value ,
            "store": document.getElementById('newStore').value,
            "safeStore": document.getElementById('newSafeStore').value
        }
        console.log(createJson)
        $.ajax({
            url: path,
            data: createJson,
            type: "POST",
            dataType: 'json',
            success: function (msg) {
                console.log(msg);
                //$("#resData2").text(msg.msg);
                if (msg.code == 2001) {
                    alert('create success')
                    window.location.href = "/product";
                } else {
                    //document.getElementById('getCook').innerHTML = " 您好";
                    $("#resData2").text(msg);
                }
            },
            err: function (msg) {
                console.log("err");
                $("#resData2").text(msg.resData);
            }
        });
    }

    //show edit
    $("#multi_col_order").on('click', '.editSelect', function () {
        // get the current row
        let currentRow = $(this).closest("tr");
        let pID = currentRow.find("td:eq(0)").html();
        let pName = currentRow.find("td:eq(1)").html();
        let avePrice = currentRow.find("td:eq(2)").html();
        let Store = currentRow.find("td:eq(3)").html();
        let SafeStore = currentRow.find("td:eq(4)").html();

        document.getElementById('rePID').value = pID
        document.getElementById('rePName').value = pName
        document.getElementById('reAvePrice').value = avePrice
        document.getElementById('reStore').value = Store
        document.getElementById('reSafeStore').value = SafeStore

    });

    //edit
    function edit() {
        let cookie = document.cookie.split('=')
        // get the current row
        let currentRow = $(this).closest("tr");
        let pID = currentRow.find("td:eq(0)").html();
        let pName = currentRow.find("td:eq(1)").html();
        let avePrice = currentRow.find("td:eq(2)").html();
        let Store = currentRow.find("td:eq(3)").html();
        let SafeStore = currentRow.find("td:eq(4)").html();

        var path = "/product/edit";
        var editJson = {
            "pID": document.getElementById('rePID').value,
            "pName": document.getElementById('rePName').value ,
            "avePrice": document.getElementById('reAvePrice').value ,
            "store": document.getElementById('reStore').value,
            "safeStore": document.getElementById('reSafeStore').value,
            "uID": cookie[1]
        }
        console.log(editJson)
        $.ajax({
            url: path,
            data: editJson,
            type: "POST",
            dataType: 'json',
            success: function (msg) {
                console.log(msg);
                //$("#resData2").text(msg.msg);
                if (msg.code == 2001) {
                    alert('edit success')
                    window.location.href = "/product";
                } else {
                    //document.getElementById('getCook').innerHTML = " 您好";
                    $("#resData2").text(msg);
                }
            },
            err: function (msg) {
                console.log("err");
                $("#resData2").text(msg.resData);
            }
        });
    }

    //delete
    $("#multi_col_order").on('click', '.delSelect', function () {
        // get the current row
        let currentRow = $(this).closest("tr");

        let pID = currentRow.find("td:eq(0)").html(); // get current row 1st table cell TD value
        let data = pID;
        console.log(data);

        var path = "/product/del";
        var delJson = {
            "pID": pID
        }
        console.log(delJson)
        $.ajax({
            url: path,
            data: delJson,
            type: "POST",
            dataType: 'json',
            success: function (msg) {
                console.log(msg);
                //$("#resData2").text(msg.msg);
                if (msg.code == 2001) {
                    alert('delete success')
                    window.location.href = "/product";
                } else {
                    //document.getElementById('getCook').innerHTML = " 您好";
                    $("#resData2").text(msg);
                }
            },
            err: function (msg) {
                console.log("err");
                $("#resData2").text(msg.resData);
            }
        });
    });
</script>