<%- include ../parts/nav.ejs %>
<!DOCTYPE html>
<html>
  <head>
    <title>修改密碼，<%= s_ID %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <h1>修改密碼</h1>
    <br>
    <form id="sentToServer">
      Password:<br>
      <input id="password" type="password" name="password" >
      <br>
      Password Twice:<br>
      <input id="password2" type="password" name="password2"  title='兩個密碼不相同' onkeyup='checkPass()' >
      <div id=tip></div>
      <input type="button" value="Submit" onClick="Submit()" >
    </form> 
    <div id="resData2" ></div>
  </body>
</html>
<script>

		function checkPass(){
      var pass1=document.getElementById('password');
      var pass2=document.getElementById('password2');
      console.log(pass1.value,pass2.value);
      if(pass1.value!==pass2.value){
        console.log('密碼不相同');
        document.getElementById('tip').innerHTML='密碼不相同';
      }
      else{
        console.log('密碼相同');
        document.getElementById('tip').innerHTML='密碼相同';
      }
    }

    function Submit(){
        var path="http://127.0.0.1:3000/updatePassword";
        var sJson = $('#sentToServer').serialize();
        console.log(sJson)
        $.ajax({
            url: path,
            data: sJson,
            type:"POST",
            dataType:'json',
            success: function(msg){
                console.log(msg);
                $("#resData2").text(msg.msg);
                if(msg.code===2001){
                  window.location.href = "/";
                }
                else{
                  //window.location.href = "/update2";
                  $("#resData2").text(msg.msg);
                }
            },
            err : function(msg){
              console.log("err");
              $("#resData2").text(msg.msg);
            }
        });
    }
</script>